@using Appointment.Application.DTO.HospitalAppoitment
@{
    ViewData["Title"] = "Aktif Randevular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ViewHospitalAppointmentDto>


<h1>Aktif Randevular</h1>

<table class="table"> <thead>
        <tr>
            <th>Şehir</th>
            <th>Hastane</th>
            <th>Bölüm</th>
            <th>Doktor</th> <th>Tarih</th>
            <th>Saat</th>   <th>Durum</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.CityName</td>
                <td>@appointment.HospitalName</td>
                <td>@appointment.DepartmentName</td>
                
                <td>@appointment.DoctorName</td> 
                
                <td>@appointment.AppointmentDate.ToShortDateString()</td>
                
                <td>@appointment.AppointmentTime.ToString("hh\\:mm")</td>
                
                <td>@appointment.Status</td>
                
                <td>
                    <button class="delay btn btn-warning" onclick="rescheduleApp('@appointment.Id')">Ertele</button>
                    <button class="cancel btn btn-danger" onclick="cancelApp('@appointment.Id')">İptal</button>
                </td>
            </tr> } </tbody>
</table>
