@model Appointment.Application.DTO.Doctor.ViewDoctorInfoDto
@{
    ViewData["Title"] = "Doktor Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Sidebar {
    @await Html.PartialAsync("Component/_DoctorSidebar.cshtml")
}
@section Scripts {
    <script src="~/js/doctor.js"></script>
}

<h1>Profil</h1>

<div class="profile-box">
    <p><strong>Ad Soyad:</strong> @Model.FirstName @Model.LastName</p>
    <p><strong>T.C. Kimlik:</strong> @Model.UserName</p>
    <p><strong>Doğum Tarihi:</strong> @Model.DateOfBirth</p>
    <p><strong>Telefon:</strong> @Model.PhoneNumber</p>
    <p><strong>E-Posta:</strong> @Model.Email</p>
    <p><strong>Uzmanlık Alanı:</strong> @Model.DepartmentName</p>
    <p><strong>Çalıştığı Hastane:</strong> @Model.HospitalName</p>
</div>
